[submodule "src/ext/eigen"]
	path = src/ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "src/ext/json"]
	path = src/ext/json
	url = https://github.com/nlohmann/json.git
[submodule "src/ext/stb"]
	path = src/ext/stb
	url = git@github.com:nothings/stb.git
[submodule "src/ext/tinyobjloader"]
	path = src/ext/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
